# Ignore node_modules
node_modules/

# Ignore .env files
.env

# Ignore logs
logs/

# Ignore build artifacts
build/
dist/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock